/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

.lesson02-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex: 1;
    padding-top: 10px;
    }
.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
html, body, #root {
  height: 100%;
  margin: 0;
  background-color: bisque;
}
.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  font-family: 'Playfair Display', serif;
  text-align: center;
}
.content {
  width: 50%;           
  max-width: 600px;
  
}
p {
  font-size: 58px;
}
img {
  max-width: 50%;
  width: 300px;
  height: auto;
} */
